<header class="header">
    <div class="header_left">
        {{ with $.Site.Params.header.logo.imgUrl }}
            <div class="headerLogo">
            {{ if $.Site.Params.header.logo.logoLink }}
                <a href="{{ $.Site.Params.header.logo.logoLink }}">
                    <img src="{{ "{{ . }}" | relLangURL }}"
                    alt="logo" />
                </a>
            {{ else }}
                <img src="{{ "{{ . }}" | relLangURL }}"
                alt="logo" />
            {{ end }}
            </div>
        {{ end }}
    </div>

    <div class="header_middle">
        {{ if .IsHome }}
            {{ $.Site.Params.header.title }}
        {{ else }}
            {{ $.Page.Title }} -
            {{ $.Site.Params.header.title }}
        {{ end }}
    </div>
</header>
